@charset "UTF-8";

/* 回答はここに書いてね */


.clearfix:after,
.clearfix:before{
    content: "";
    display: block;
    clear: both;
}

.wrapper2{
  background-color: #ecf1f2;
  padding: 20px;
}

.wrapper3{
  background-color: #ecf1f2;
  width: 100%;
}

.wrapper4{
  background-color: #ecf1f2;
  display: flex;
  margin-top: 20px;
}
.wrapper5{
  background-color: #ecf1f2;
  display: flex;
  margin-top: 20px;
}

.wrapper6{
  background-color: #ecf1f2;
  display: flex;
  margin-top: 20px;
}

.wrapper7{
  background-color: #ecf1f2;
  display: flex;
  margin-top: 20px;
}

.wrapper8{
  background-color: #ecf1f2;
  display: flex;
  margin-top: 20px;
}

.wrapper9{
  background-color: #ecf1f2;
  display: flex;
  margin-top: 20px;
}

.wrapper10{
  background-color: #ecf1f2;
  display: flex;
  margin-top: 20px;
}

.grid1{
  background-color: #ecf1f2;
  width: 100%;
  height:50px;
}
.grid2{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}
.grid3{
  background-color: #ecf1f2;
  height: 50px;
  width: 50%;
  padding-right: 20px;
}

.grid4{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid5{
  background-color: #ecf1f2;
  height: 50px;
  width: 50%;
}
.grid6
{
  background-color:#FFF ;
  height: 50px;
  width: 100%;
}

.grid7{
  background-color: #ecf1f2;
  height: 50px;
  width: 35%;
  padding-right: 20px;
}

.grid8{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid9{
  background-color: #ecf1f2;
  height: 50px;
  width: 35%;
  padding-right: 20px;
}

.grid10{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid11{
  background-color: #ecf1f2;
  height: 50px;
  width: 35%;
}

.grid12{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid13{
  background-color: #ecf1f2;
  height: 50px;
  width: 25%;
  padding-right: 20px;
}

.grid14{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid15{
  background-color: #ecf1f2;
  height: 50px;
  width: 25%;
  padding-right: 20px;
}

.grid16{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid17{
  background-color: #ecf1f2;
  height: 50px;
  width: 25%;
  padding-right: 20px;
}

.grid18{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid19{
  background-color: #ecf1f2;
  height: 50px;
  width: 25%;
}

.grid20{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid21{
  background-color: #ecf1f2;
  height: 50px;
  width: 20%;
  padding-right: 20px;
}

.grid22{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid23{
  background-color: #ecf1f2;
  height: 50px;
  width: 20%;
  padding-right: 20px;
}

.grid24{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid25{
  background-color: #ecf1f2;
  height: 50px;
  width: 20%;
  padding-right: 20px;
}

.grid26{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid27{
  background-color: #ecf1f2;
  height: 50px;
  width: 20%;
  padding-right: 20px;
}

.grid28{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid29{
  background-color: #ecf1f2;
  height: 50px;
  width: 20%;
}

.grid30{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid31{
  background-color: #ecf1f2;
  height: 50px;
  width: 16.7%;
  padding-right: 20px;
}

.grid32{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid33{
  background-color: #ecf1f2;
  height: 50px;
  width: 16.7%;
  padding-right: 20px;
}

.grid34{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid35{
  background-color: #ecf1f2;
  height: 50px;
  width: 16.7%;
  padding-right: 20px;
}

.grid36{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid37{
  background-color: #ecf1f2;
  height: 50px;
  width: 16.7%;
  padding-right: 20px;
}

.grid38{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid39{
  background-color: #ecf1f2;
  height: 50px;
  width: 16.7%;
  padding-right: 20px;
}

.grid40{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid41{
  background-color: #ecf1f2;
  height: 50px;
  width: 16.7%;
}

.grid42{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid43{
  background-color: #ecf1f2;
  height: 50px;
  width: 51.5%;
  padding-right: 20px;
}

.grid44{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid45{
  background-color: #ecf1f2;
  height: 50px;
  width: 25%;
  padding-right: 20px;
}

.grid46{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid47{
  background-color: #ecf1f2;
  height: 50px;
  width: 25%;
}

.grid48{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid49{
  background-color: #ecf1f2;
  height: 50px;
  width: 16.7%;
    padding-right: 20px;
}

.grid50{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid51{
  background-color: #ecf1f2;
  height: 50px;
  width: 16.7%;
    padding-right: 20px;
}

.grid52{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid53{
  background-color: #ecf1f2;
  height: 50px;
  width: 35%;
  padding-right: 20px;
}

.grid54{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.grid55{
  background-color: #ecf1f2;
  height: 50px;
  width: 35%;
}

.grid56{
  background-color: #FFF;
  height: 50px;
  width: 100%;
}
/* 回答はここに書いてね */
