@charset "UTF-8";

/* 回答はここに書いてね */

.contents__box{
  margin: 0 auto;
  width: 700px;
  height: 40px;
}

.small {
  border-radius: 3px;
  font-size: 16px;
  display: inline-block;
  padding: 0 15px;
  line-height: 26px;
  margin: auto 5px;
}

.middle {
  border-radius: 5px;
  font-size: 20px;
  display: inline-block;
  padding: 0 20px;
  line-height: 32px;
  margin: auto 5px;
}

.large {
  border-radius: 7px;
  font-size: 24px;
  display: inline-block;
  padding: 0 25px;
  line-height: 38px;
  margin: auto 5px;
}

.common {
  color: #FFF;
  background-color: #00bcd4;
  cursor: pointer;
}

.error {
  color: #FFF;
  cursor: pointer;
  background-color: #ff4081;
}

.disabled {
  color: #FFF;
  background-color: #e5e5e5;
}

.shadow {
  box-shadow: 0 1px 6px rgba(0,0,0,.12),
  0 1px 4px rgba(0,0,0,.12);
}
/* 回答はここに書いてね */
