@charset "UTF-8";

/* 回答はここに書いてね */
.message__box{
  width: 500px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 30px;
  border: solid 5px #222;
  padding: 20px;
  position: relative;
  margin: 0 auto;
}

.message__box:before{
  content: "";
  border: 25px solid transparent;
  border-top-color: #000;
  border-bottom-width: 0;
  width: 0;
  position: absolute;
  top: 155px;
}

.message__box:after{
  content: "";
  border: 25px solid transparent;
  border-top-color: #FFF;
  border-bottom-width: 0;
  width: 0;
  position: absolute;
  top: 148px;
  left: 20px;
}
/* 回答はここに書いてね */
